<!DOCTYPE html>
<html>
	<head>
		<title>The Elements</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	</head>
	<body>
	 <span id="elements">The Elements</span></p>
	 	    <img src="static/Periodic_Table.PNG" alt="Periodic Table of Elements" height="250px">
	 <p>John Dalton was an English chemist who came up with a theory called "The Atomic Theory of Elements". Dalton stated that all matter is made up of small, invisible atoms.</p>
	<br>
	 <p> Atoms are the basic units of elements that make up air, water, soil, etc. An element is a substance that cannot be broken down into another basic unit. They make up everyone and everything in the universe!</p>
	<br>
	 <p>Some examples of elements are oxygen, nitrogen, hydrogen, heilium, etc. Since elements are atoms, they make molecules! Molecules such as H²O (water) use the elements hydrogen (H) and oxygen (O). And since there is a "²" next to the H that means there are two hydrogen atoms.</p>
	
	<table class="center">
        <thead>
                <tr>
                    <th><center>Name</center></th>
                    <th><center>Atomic Symbol</center></th>
                    <th><center>Atomic Number</center></th>
                    <th><center>Element Use</center></th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td><center>Hydrogen</center></td>
                    <td><center>H</center></td>
                    <td><center>1</center></td>
                    <td><center>Used to Make Petroleum</center></td>
                </tr>
                <tr class="even">
                    <td>Helium</td>
                    <td>HE</td>
                    <td>2</td>
                    <td>Used in Lazers</td>
                </tr>
                <tr class="odd">
                    <td>Lithium</td>
                    <td>LI</td>
                    <td>3</td>
                    <td>Used in Batteries</td>
                </tr>
                <tr class="even">
                    <td>Beryllium</td>
                    <td>BE</td>
                    <td>4</td>
                    <td>Used as an Alloying Agent for Copper</td>
                </tr>
                <tr class="odd">
                    <td>Boron</td>
                    <td>B</td>
                    <td>5</td>
                    <td>Used in Pyrotechnics</td>
                </tr>
                <tr class="even">
                    <td>Carbon</td>
                    <td>C</td>
                    <td>6</td>
                    <td>Used in Fire Extinguishers</td>
                </tr>
                <tr class="odd">
                    <td>Nitrogen</td>
                    <td>N</td>
                    <td>7</td>
                    <td>Used in Explosive Materials</td>
                </tr>
                <tr class="even">
                    <td>Oxygen</td>
                    <td>O</td>
                    <td>8</td>
                    <td>Used in Many Chemicals</td>
                </tr>
                <tr class="odd">
                    <td>Fluorine</td>
                    <td>F</td>
                    <td>9</td>
                    <td>Used in Toothpaste</td>
                </tr>
                <tr class="even">
                    <td>Neon</td>
                    <td>NE</td>
                    <td>10</td>
                    <td>Used in Advertising Signs</td>
                </tr>
                <tr class="odd">
                    <td>Sodium</td>
                    <td>NA</td>
                    <td>11</td>
                    <td>Used in Table Salt</td>
                </tr>
                <tr class="even">
                    <td>Magnesium</td>
                    <td>MG</td>
                    <td>12</td>
                    <td>Used in Medicine</td>
                </tr>
                <tr class="odd">
                    <td>Aluminum</td>
                    <td>AL</td>
                    <td>13</td>
                    <td>Used in Airplanes</td>
                </tr>
                <tr class="even">
                    <td>Silicon</td>
                    <td>SI</td>
                    <td>14</td>
                    <td>Used in Solid State Electronics</td>
                </tr>
                <tr class="odd">
                    <td>Phosphorus</td>
                    <td>P</td>
                    <td>15</td>
                    <td>Used in Fertilizers</td>
                </tr>
                <tr class="even">
                    <td>Sulfur</td>
                    <td>S</td>
                    <td>16</td>
                    <td>Used in Gunpowder</td>
                </tr>
                <tr class="odd">
                    <td>Chlorine</td>
                    <td>CL</td>
                    <td>17</td>
                    <td>Used as an Antiseptic</td>
                </tr>
                <tr class="even">
                    <td>Argon</td>
                    <td>AR</td>
                    <td>18</td>
                    <td>Used as Semiconductor Crystals</td>
                </tr>
                <tr class="odd">
                    <td>Potassium</td>
                    <td>K</td>
                    <td>19</td>
                    <td>Used in Glass</td>
                </tr>
                <tr class="even">
                    <td>Calcium</td>
                    <td>CA</td>
                    <td>20</td>
                    <td>Used in Bones</td>
                </tr>
                <tr class="odd">
                    <td>Scandium</td>
                    <td>SC</td>
                    <td>21</td>
                    <td>Used in Stadium Lights</td>
                </tr>
                <tr class="even">
                    <td>Titanium</td>
                    <td>TI</td>
                    <td>22</td>
                    <td>Used in Paint</td>
                </tr>
                <tr class="odd">
                    <td>Vanadium</td>
                    <td>V</td>
                    <td>23</td>
                    <td>Used in Table Salt</td>
                </tr>
                <tr class="even">
                    <td>Chromium</td>
                    <td>CR</td>
                    <td>24</td>
                    <td>Used in Stainless Steel</td>
                </tr>
                <tr class="odd">
                    <td>Manganese</td>
                    <td>MN</td>
                    <td>25</td>
                    <td>Used in Fuel</td>
                </tr>
                <tr class="even">
                    <td>Iron</td>
                    <td>FE</td>
                    <td>26</td>
                    <td>Used in Steel</td>
                </tr>
                <tr class="odd">
                    <td>Cobalt</td>
                    <td>CO</td>
                    <td>27</td>
                    <td>Used in Cancer Treatment</td>
                </tr>
                <tr class="even">
                    <td>Nickel</td>
                    <td>NI</td>
                    <td>28</td>
                    <td>Used in Tubing and Piping</td>
                </tr>
                <tr class="odd">
                    <td>Copper</td>
                    <td>CU</td>
                    <td>29</td>
                    <td>Used in A/C Units</td>
                </tr>
                <tr class="even">
                    <td>Zinc</td>
                    <td>ZN</td>
                    <td>30</td>
                    <td>Used in Ink</td>
                </tr>
                <tr class="odd">
                    <td>Gallium</td>
                    <td>GA</td>
                    <td>31</td>
                    <td>Used in Thermometers</td>
                </tr>
                <tr class="even">
                    <td>Germanium</td>
                    <td>GE</td>
                    <td>32</td>
                    <td>Used in Solar Applications</td>
                </tr>
                <tr class="odd">
                    <td>Arsenic</td>
                    <td>AS</td>
                    <td>33</td>
                    <td>Used in Poisons</td>
                </tr>
                <tr class="even">
                    <td>Selenium</td>
                    <td>SE</td>
                    <td>34</td>
                    <td>Used in Photocells</td>
                </tr>
                <tr class="odd">
                    <td>Bromine</td>
                    <td>BR</td>
                    <td>35</td>
                    <td>Used as a Flame-Retarder</td>
                </tr>
                <tr class="even">
                    <td>Krypton</td>
                    <td>KR</td>
                    <td>36</td>
                    <td>Used in Fluorescent Lights</td>
                </tr>
                <tr class="odd">
                    <td>Rubidium</td>
                    <td>RB</td>
                    <td>37</td>
                    <td>Used in Vacume Tubes</td>
                </tr>
                <tr class="even">
                    <td>Strontium</td>
                    <td>SR</td>
                    <td>38</td>
                    <td>Used in Fireworks</td>
                </tr>
                <tr class="odd">
                    <td>Yttrium</td>
                    <td>Y</td>
                    <td>39</td>
                    <td>Used in Microwave Filters</td>
                </tr>
                <tr class="even">
                    <td>Zirconium</td>
                    <td>ZR</td>
                    <td>40</td>
                    <td>Used in Nuculear Reactors</td>
                </tr>
                <tr class="odd">
                    <td>Niobium</td>
                    <td>NB</td>
                    <td>41</td>
                    <td>Used in Jet Engines</td>
                </tr>
                <tr class="even">
                    <td>Molybdenum</td>
                    <td>MO</td>
                    <td>42</td>
                    <td>Used as a Metal Corrosion Inhibitor</td>
                </tr>
                <tr class="odd">
                    <td>Technetium</td>
                    <td>TC</td>
                    <td>43</td>
                    <td>Used as a Radioactive Tracer</td>
                </tr>
                <tr class="even">
                    <td>Ruthenium</td>
                    <td>RU</td>
                    <td>44</td>
                    <td>Used as a Catalyst</td>
                </tr>
                <tr class="odd">
                    <td>Rhodium</td>
                    <td>RH</td>
                    <td>45</td>
                    <td>Used in Furnaces</td>
                </tr>
                <tr class="even">
                    <td>Palladium</td>
                    <td>PD</td>
                    <td>46</td>
                    <td>Used in Jewelry</td>
                </tr>
                <tr class="odd">
                    <td>Silver</td>
                    <td>AG</td>
                    <td>47</td>
                    <td>Used in Tableware</td>
                </tr>
                <tr class="even">
                    <td>Cadmium</td>
                    <td>CD</td>
                    <td>48</td>
                    <td>Used for Electroplating</td>
                </tr>
                <tr class="odd">
                    <td>Indium</td>
                    <td>IN</td>
                    <td>49</td>
                    <td>Used to Prevent Aging</td>
                </tr>
                <tr class="even">
                    <td>Tin</td>
                    <td>SN</td>
                    <td>50</td>
                    <td>Used to Plate Steel Cans</td>
                </tr>
                <tr class="odd">
                    <td>Antimony</td>
                    <td>SB</td>
                    <td>51</td>
                    <td>Used as Cable Sheathing</td>
                </tr>
                <tr class="even">
                    <td>Tellurium</td>
                    <td>TE</td>
                    <td>52</td>
                    <td>Used in Blasting Caps</td>
                </tr>
                <tr class="odd">
                    <td>Iodine</td>
                    <td>I</td>
                    <td>53</td>
                    <td>Used in Antiseptics</td>
                </tr>
                <tr class="even">
                    <td>Xenon</td>
                    <td>XE</td>
                    <td>54</td>
                    <td>Used in X-Ray Counters</td>
                </tr>
                <tr class="odd">
                    <td>Caesium</td>
                    <td>CS</td> 
                    <td>55</td>
                    <td>Used in Atomic Clocks</td>
                </tr>
        </tbody>
    </table>
	 <p>After a few years of research of John Daltons theory, Russian chemist Dmitri Mendeleev started the periodic table of elements. Soon more elements were found and added to the table.</p>
	 <br>
	 <p>Some ways elements are used in real life are: in food, construction, medicine, chemistry, etc. Elements make up everything in life. </p>
	 <br>
	 <p>After many decades of research, there is a grand total of 118 elements (as of 2022). Many theories and questions about the elements have been solved, and any more ways to use elements have been discovered.</p>
    </body>